@model TopTalentView.Models.Talent

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminTalents" asp-action="Index">Quản lý Talent</a>
            <span class="breadcrumb-item active">Thông tin chi tiết Talent</span>
        </nav>
    </div>
</div>
<div class="card-body">
    <h1>Details</h1>
    <h4 class="card-title">Talent Info</h4>
    <div class="table-responsive">
        <table class="product-info-table m-t-20">
            <tbody>
                <tr>
                    <td>ID</td>
                    <td class="text-dark font-weight-semibold">@Model.TalentId</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td class="text-dark font-weight-semibold">@Model.TalentEmail</td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td class="text-dark font-weight-semibold">@Model.TalentPassword</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td class="text-dark font-weight-semibold">@Model.TalentName</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td class="text-dark font-weight-semibold">@Model.TalentPhone</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td class="text-dark font-weight-semibold">@Model.TalentAddress</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td class="text-dark font-weight-semibold">@Model.TalentDescription</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td class="text-dark font-weight-semibold">@Model.TalentStatus</td>
                </tr>


            </tbody>
        </table>

    </div>
    <div>
        <a class="btn btn-primary m-r-5" asp-action="Edit" asp-route-id="@Model.TalentId">Edit</a> |
        <a class="btn btn-success  m-r-5" asp-action="Index">Back to List</a>
    </div>
</div>
