@model IEnumerable<TopTalentView.Models.BookingDetail>

@{
    ViewData["Title"] = "Booking Details Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Quản lý Booking Details</span>
        </nav>
    </div>
</div>
<div class="table-responsive">
    <h1>Quản lý Booking Details </h1>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">StartTime</th>
                <th scope="col">EndTime</th>
                <th scope="col">Cash</th>
                <th scope="col">Booking ID</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.BookingId</th>
                        <td> @item.BookingDetailId</td>
                        <td> @item.StartTime</td>
                        <td>@item.EndTime</td>
                        <td>@item.Cash</td>

                        <td>
                            <a class="btn btn-primary m-r-5" asp-action="Edit" asp-route-id="@item.BookingId">Edit</a> |
                            <a class="btn btn-info  m-r-5" asp-action="Details" asp-route-id="@item.BookingId">Details</a> |
                            <a class="btn btn-danger  m-r-5" asp-action="Delete" asp-route-id="@item.BookingId">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>



